@import url("https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SpaceGrotesk";
    font-weight: 400;
    src: url(/SpaceGrotesk-Medium.ttf);
}

a {
    font-family: "SpaceGrotesk";
}